@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;0,800;1,300;1,400&display=swap');

html, body {
  height: 100%;
  margin: 0;
}




*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}





li.Header, a{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-size: 2VH;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

button, p{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  
}

header{
  display: flex;
  justify-content: space-between;
  padding: 3vh 7%;
  padding-bottom: 2vh;
  background-color: rgb(0, 0, 0);
}

.logo {
  cursor: pointer;

  width: 3vw;
}



.nav__links{
  list-style: none;
}

.nav__links li.Header {
  display: inline-block;
  padding: 0px 20px;

}

.nav__links li.Header, a {
  transition: all 0.3 ease 0s;
}

.nav__links li.Header a:hover{
  color: #0088a9;
  transition: all 0.4s ease 0s;
}

.cta{
  margin-right: 0px;
  padding-right: 0px;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;

}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/*-----------------------------*/
  .Hero{
    height: 450px;
    background-color: rgb(7, 7, 7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Hero__text{
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-align: center;
  
  }

  .Hero__title{
    font-size: 70px;
    font-weight: 800;
    color: white;
    margin-bottom: 10px;
  }

  .Hero__subtitle{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    color: rgb(255, 255, 255);
  }


  .socials{
    height: 900px;
  }

  .box{
    width: 100%;
    height: 50%;
    margin: 0px;
    background-color: #ffffff00;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.link__card{
  width: 45%;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(239, 235, 235);
  border-radius: 2.8vh;
  box-shadow: 10px 10px 12px #00000027;
  transition: all 0.3s ease 0s;
}

.link__card:hover{
  background-color: rgb(240, 230, 230);
  box-shadow: 22px 22px 22px #00000027;
}

.inv{
  color: rgb(0,0,0)
}
/*---------------------------------------------------------------*/

#footer{
  background-color: rgb(12, 12, 12);
  height: 20vh;
  position: relative;
  width: 100%;
  padding: 6.2vh 5%;
  margin-top: 0px;
  clear: both;
  bottom: 0px;
}

.ContentCentered{
  display: inline-grid;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Message{
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.516);
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 0px;
}

.LogoContainer{
  display: inline-flex;
  align-items: center;
}

.LogoTitle{
  margin-left: 20px;
  font-size: 50px;
}

.Foot{
  background-color: rgb(12, 12, 12);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.Logo{
  border-radius: 8px;
  width: 2.5em;
}

.Copyright{
  font-weight: 400;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.74);
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 0px;
  margin-left: 20px;
}

.FootLinks{
  display: inline-flex;
  align-items: center;
  justify-content: center;

}

.Links{
  font-size: 17px;
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.804);
  margin: 0px 20px;
  transition: color 0.15s ease-in-out;
}

.Links:hover{
  color: rgba(255, 255, 255, 0.475);
}

.Links:last-child{
  margin-right: 50px;
}

.Affiliation{
  font-family: monospace;
  font-size: 10px;
  font-weight: 500;
}

/* Responsive design */
@media screen and (max-width: 1000px){


  Header{
      padding-right: 40px;
      padding-left: 40px;
  }}

@media screen and (max-width: 770px){
  header{
      padding-right: 0px;
      padding-left: 0px;
  }
}

@media screen and (max-width: 450px){
  li.Header, a{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 500;
      font-size: 1.3VH;
      color: rgb(255, 255, 255);
      text-decoration: none;
  }
  header {
      background-color: rgba(0, 0, 0, 0.454);
  }
  button{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: rgb(249, 236, 236);
      text-decoration: none;
      
  }
  p{
      font-family: 'Roboto Mono', monospace;
      font-weight: 600;
      font-size: 16px;
      color: rgb(249, 236, 236);
      text-decoration: none;
  }
  header{
    display: flex;
    justify-content: space-between;
    padding: 3vh 5%;
    padding-bottom: 2vh;
    position: sticky;
  }
  .logo {
      cursor: pointer;
  
      width: 10vw;
  }
  .nav__links{
      list-style: none;}
  .nav__links li.Header {
      display: inline-block;
      padding: 0px 10px;
  }
  .nav__links li.Header, a {
      transition: all 0.3 ease 0s;}
  .nav__links li.Header a:hover{
      color: #0088a9;
      transition: all 0.6s ease 0s;}
  .cta{
      margin-right: 0px;
      padding-right: 0px;}
  
  button {
      padding: 4px 8px;
      background-color: rgba(0, 136, 169, 1);
      border: none;
      border-radius: 50px;
      cursor: pointer;
  }
  button:hover {
      background-color: rgba(0, 136, 169, 0.8);}

  h1{
      text-align: center;
      font-size: 9vh;
  }
  

  .Padding{
      text-align: center;
      height: 100%;
      padding: 30% 30px;
  }
  #footer{
      display: none;
  }
}
::-webkit-scrollbar{
  width: 10px;}
::-webkit-scrollbar-track{
  background-color:rgb(46, 46, 46);}
::-webkit-scrollbar-thumb{
  background-color:#0088a9;
  border-radius:16px}
::-webkit-scrollbar-thumb:hover{
  background-color:rgb(0, 174, 217);}

