@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:wght@400;500&display=swap');

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
li {
  list-style: none;
}


/* ---- base ---- */

html,
body {
  width: 100%;
  height: 100%;
  background: #000000;
  overflow: hidden;
  font: normal 75% Arial, Helvetica, sans-serif;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-image: url("Images/Harbane-Net-Background.svg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.box{
  z-index: 100;
  background-color: rgba(0, 132, 44, 0);
  position: absolute;
  width: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 0px;
  display: flex;
  justify-content: center;
}

.two{
  transform: translate(-50%, -10%);
}

.bottom{
  transform: translate(-50%, 45vh);
  width: 100%;
}

h1{
  color: #ffffff;
  font-size: 7.6rem;
  background-color: rgba(0, 128, 0, 0);
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  padding: 0px;
  user-select: none;
}

h2{
  font-size: 2.5rem;
  color: #f6f6f6;
  cursor: default;
  user-select: none;
  font-family:Arial, Helvetica, sans-serif
}

span{
  color: rgba(255, 255, 255, 0.625);
  font-size: 1.2rem;
  font-family: 'Kanit', sans-serif;
  cursor: default;
  user-select: none;
}

/*eeeeeeee*/
.three{
  transform: translate(-50%, 120%)
}


#testbutton {
  width: 125px;
  height: 50px;
  border-radius: 0.5rem;
  position:relative;
  background: linear-gradient(60deg, #ffc48976, #f36f5575, #ef4e7c81, #ae61bc6e, #5073b870, #1098ad6f, #07b39c6f, #6fba826f);
  cursor:pointer;
  line-height:12px;
}

#testbutton:before {
  content:'';
  z-index:1;
  position:absolute;
  display:block;
  width:80%;
  height:70%;
  top:15%;
  left:10%;
  transition: 0.3s opacity ease-in-out;
  filter:blur(15px);
  opacity:0;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

#testbutton:hover:before {
  opacity:1;
  transition: 0.4s opacity ease-in-out;
  filter:blur(20px);
  background: linear-gradient(60deg, #ff8000, #ff2a00, #ff0048, #d900ff, #0055ff, #00ddff, #00ffdd, #00ff40);  
}

#testbutton:after {
  content:'Join Waitlist';
  text-align:center;
  line-height: 45px;
  font-size: 0.9rem;
  color:rgba(235,235,235, 1);
  font-weight:bold;
  z-index:5;
  position:absolute;
  display:block;
  border-radius: 0.4rem;
  width:94%;
  height:84%;
  top:8%;
  left:3%;  
  background-color: #010409;
}

/* minimised class */


/* Responsive Design */
@media (max-width: 1150px) {
  h1 {
    font-size: 6rem;
    text-align: center;
  }

  h2{
    font-size: 2.6rem;
  }
}

@media (max-width: 850px) {
  h1 {
    font-size: 6rem;
    align-content: center;
    text-align: center;
  }

  h2{
    font-size: 2rem;
  }
}